body {
  justify-content: center;
  align-items: center;
  background-color: lightcyan;
  color: darkgreen;
  font-family: Arial, Helvetica, sans-serif;
}

.scene {
  width: 200px;
  height: 260px;
  border: 1px solid rgb(255, 255, 255); /*no border shown*/
  margin: 40px 0;
  perspective: 600px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: center;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__face--front {
  background: rgb(186, 226, 252);
  font-size: 15pt;
}

.card__face--back {
  background: rgb(165, 165, 165);
  transform: rotateY(180deg);
  font-size: 15pt;
}

#newDeck,
#studyDeck {
  background-color: darkorange;
  color: white;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 8px;
  text-align: center;
  display: inline-block;
}

#homePage {
  background-color: lightgrey;
  color: white;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 8px;
  text-align: center;
  display: inline-block;
}

.deck {
  float: left;
  margin: 20px;
}

.deckDisp {
  width: 200px;
  height: 300px;
  background-color: seagreen;
  color: white;
  text-align: center;
  border-radius: 25px;
}

.card {
  float: left; /* can't get the cards to align left */
  margin: 20px;
}

.cardDisp {
  width: 200px;
  height: 260px;
  background-color: rgb(186, 226, 252);
  font-size: 15pt;
  color: white;
  text-align: center;
  font-weight: bold;
  border-radius: 25px;
}

#spaceDiv {
  height: 50px;
}

#studyItem {
  display: inline-block;
  margin-right: 5px;
}

#studyContent {
  display: flex;
  justify-content: center;
}

#currentCard {
  height: 300px;
  width: 200px;
  background-color: rgb(186, 226, 252);
  border-radius: 25px;
}

#navButton {
  margin: 100px 0px 100px 0px;
}

#displayCards {
  float: left;
}
