body {
  justify-content: center;
  align-items: center;
  background-color: lightcyan;
  color: darkgreen;
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  width: 190px;
  height: 10%;
  transition: all 0.75s ease;
  /*transition: transform 1s;*/
  transform-style: preserve-3d;
  cursor: pointer;
  vertical-align: middle;
  padding-right: 30pt;
  padding-bottom: 200pt;
  padding-left: 10pt;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: scroll;
  word-wrap: break-word;
  padding: 0pt;
}

.card__face--front {
  background: rgb(186, 226, 252);
  font-size: 15pt;
  width: 200px;
  height: 260px;
  border-radius: 25px;
  padding: 10pt;
  line-height: 260px;
}

.card__face--back {
  background: rgb(165, 165, 165);
  transform: rotateY(180deg);
  font-size: 15pt;
  width: 200px;
  height: 260px;
  border-radius: 25px;
  padding: 10pt;
  line-height: 260px;
}

#newDeck,
#studyDeck {
  background-color: darkorange;
  color: white;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 8px;
  text-align: center;
  display: inline-block;
}

#homePage {
  background-color: lightgrey;
  color: white;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 8px;
  text-align: center;
  display: inline-block;
}

.deck {
  float: left;
  margin: 20px;
}

.deckDisp {
  width: 200px;
  height: 300px;
  background-color: seagreen;
  color: white;
  line-height: 300px;
  text-align: center;
  border-radius: 25px;
  font-size: 25px;
}

.card {
  float: left;
  margin: 20px;
}

.leftWrapper {
  float: left;
  width: 32%;
  height: 650px;
}
.leftTop {
  width: 200px;
  height: 130px;
  background-color: darksalmon;
  font-size: 15pt;
  color: white;
  padding: 10pt;
  text-align: center;
  font-weight: bold;
  border-radius: 25px 25px 0px 0px;
  font-size: 25px;
  float: left;
  overflow: scroll;
  margin-right: 10pt;
  line-height: 130px;
}

.leftBottom {
  width: 200px;
  height: 130px;
  background-color: rgb(182, 182, 182);
  font-size: 15pt;
  color: white;
  padding: 10pt;
  text-align: center;
  font-weight: bold;
  border-radius: 0px 0px 25px 25px;
  font-size: 25px;
  float: left;
  overflow: scroll;
  line-height: 130px;
}

#spaceDiv {
  height: 50px;
}

#studyItem {
  display: inline-block;
  margin-right: 5px;
}

#studyContent {
  display: flex;
  justify-content: flex-start;
}

#currentCard {
  height: 300px;
  width: 200px;
  background-color: rgb(186, 226, 252);
  border-radius: 25px;
  line-height: 300px;
  border-radius: 25px;
}

#study {
  font-size: 32px;
  background-color: white;
}
/* Popup container */
.popup {
  position: relative;
  /*left: 50%;*/
  display: inline-block;
  /*cursor: pointer;*/
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 300px;
  height: 300px;
  background-color: white;
  color: seagreen;
  border-style: solid;
  border-width: 5px;
  border-color: darksalmon;

  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  /*left: 50%;*/
  margin-left: -200px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  /*left: 50%;*/
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  animation: fadeIn 1s;
}
